<h2>Register</h2>

<form method="POST" enctype="application/x-www-form-urlencoded" action="/user/register">
    <input name="username" type="text">
    <input name="password" type="password">
    <input name="email" type="email">

    <button type="submit">Register</button>
</form>
